.table-view{
    -fx-table-color: rgba(0, 166, 90, 0.9);
    -fx-table-rippler-color : rgba(255, 0, 0, 0.9);
}
.table-view:focused .table-row-cell:selected {
    -fx-background-color: -fx-table-color  ;
}

.table-view:focused .table-row-cell:selected .table-cell{
    -fx-text-fill: white;
}

.table-view .jfx-rippler {
    -fx-rippler-fill: -fx-table-rippler-color;
}

.table-view .column-header ,
.table-view .column-header-background,
.table-view .column-header-background .filler{
    -fx-background-color:TRANSPARENT;
}

.table-view .column-header{
    -fx-border-width : 0 1 0 1;
    -fx-border-color: #F3F3F3;
}

.table-view .column-header .label {
    -fx-text-fill : #4d0f0e;
    -fx-padding : 5 0 5 0 ;
}

.table-view .column-header .arrow, .table-view .column-header .sort-order-dot{
    -fx-background-color : #949494;
}

.table-view .column-header-background{
    -fx-border-width : 0 0 2 0;
    -fx-border-color:#F3F3F3;
}

.table-view .table-cell{
    -fx-border-width:0 0 0 0;
    -fx-padding : 8 0 5 0 ;
    -fx-alignment: center;

}

