.tag-bar {
    /*-fx-border-color: blue;*/
    -fx-spacing: 3;
    -fx-padding: 3;
    -fx-max-height: 30;
}

.tag-bar .tag {
    -fx-background-color:  #00A65A;
    -fx-alignment: center;
}

.tag-bar .tag .button {
    -fx-background-color: transparent;
}